// use instead of .env. 



export const dittoAppId = ""
export const dittoToken = "" // not sure yet if this is secret

export const bskyAppPassword = "" // this is a secret. in the real app the user would probably provide thier own password, or we would log in through OAuth
// gotten from bsky.app > settings > privacy & security > App passcodes